<h1>Welcome Gamer Sign In To Your Adventure </h1>
<br><br>
<form action="/login" method ="post">
  <label for="username">Username:</label>
  <input type="text" name="username" id="username" value="">
  <br><br>
  <label for="password">Password:</label>
  <input type="password" name="password" id="password" value="">
  <br><br>
  <input type="submit" value="Enter Your Game">
</form>
<br>
<form action="/" method="get">
  <h3><input type="submit" value="Welcome Page"></h3>
</form>
<br>







