<h1> Weclome To GCC Sign Up Page</h1>
<br>
<h2>Please Fill Out The Form Below And Join The Club</h2>
<br><br>
<form action="/signup" method="post">
  <label for="username">Username:</label>
  <input type= "text" name="username">
  <br><br>
  <label for="password">Password:</label>
  <input type= "password" name="password">
  <br><br>
  <label for="user_image">Gamer Photo:</label>
  <input type= "text" name="user_image">
  <br><br><br>
  <input type="submit" value="Join The Club">
</form>
<br>
<form action="/" method="get">
  <h3><input type="submit" value="Welcome Page"></h3>
</form>




