<h1>Welcome To Creation Center</h1>
<br>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhl5tl51IwkTc6qQg-JCm9TpZdg31Kd6-Stw&usqp=CAU" width="250" height="250">
<br>
<h2>Please fill out the section below to start you gaming quest</h2>
<br><br>
<form action="/games" method="post">
    <label>Title:</label>
    <input type="text" name="title" value="">
    <br><br>
    <label>Game Cover:</label>
    <input type="text" name="game_image" value="">
    <br><br>
    <label>Blurb:</label>
    <textarea name="blurb"></textarea>
    <br><br>
    <label>Game Genre:</label>
    <input type="text" name="genre" value="">
    <br><br>
    <input type="submit" id="submit" value="Game Time">
</form>
<br>
  